.mainCalendar {
    width: 100%;
    height: 40%;
    border: 2px solid #292929;
    border-radius: 5px;
}
ant-picker-cell-inner {
    height: 10px;
}
.calenderContainer {
    margin: 0%;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.CardHolder {
    width: 97.7%;
    height: 100%;
    margin-top: 15px;
    padding: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    grid-auto-flow: row;
    grid-gap: 10px;
}

.AddEvent {
}

.AddEventButton {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0;
    text-decoration: none;
}
.AddEventButton Button {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    font-size: 32px;
    text-decoration: none;
    background-color: #ffffff00;
}

.AddEventButton Button:hover {
    font-size: 40px;
}

html, body {
    margin: 0%;
    padding: 0%;
}